.header {
  padding: 1.6rem;
  display: flex;
  flex-direction: row-reverse;
  &__list {
    list-style: none;
    &__item {
      &__btn {
        &--login {
          font-size: 2rem;
          padding: 0.8rem 1.6rem;
          border: none;
          background-color: $color_primary;
          border-radius: 1rem;
          color: lighten(#000000, 30%);
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            transform: translateY(-0.4rem);
          }
        }
      }
    }
  }
}
